<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Index</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>

    <body>
        <p>When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
            $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
            Let $a $</p>
        <!-- <script src="js/scripts.js"></script> -->
    </body>

</html>